@import "tailwindcss";
.exporting .border,
.exporting .border-2,
.exporting .border-purple-500 {
  border: none !important;
}

.exporting .drag-handle,
.exporting button {
  display: none !important;
}

.exporting .absolute.bottom-\[-10px\].right-\[-10px\] {
  display: none !important;
}
